center a {
  display: none;
}

/* Hide the left section */
.toggle-container {
  display: none;
}

/* Center the form horizontally and vertically */
.container {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 460px; /* Adjust width for smaller screens */
  padding:20px; /* Add padding */
  box-shadow: none; /* Optional: remove box-shadow for cleaner look */
}

.form-container {
  position: relative; /* Reset the absolute positioning */
  width: 100%; /* Make it take full width */
  left: 0;
  transform: translateX(0); /* Center horizontally */
}

.forgotPasswordEmail {
  top: 80px; /* Reset translations */
}

.container form {
  padding: 0;
}
