 <!-- Alert -->
 <div
 class="alert alert-warning alert-dismissible fade show text-center"
 role="alert"
 id="cartAlert"
 style="
   display: none;
   position: fixed;
   z-index: 999;
   right: 550px;
   top: 100px;
   left: 550px;
 "
>
 <strong>Item added to cart successfully.</strong>
</div>