<div class="modal fade" id="modalcart">
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="width: 500px"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col text-right">
            <button
              type="button"
              class="close modal-close border-0"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">
                <i class="icon-close" style="font-size: 24px"></i
              ></span>
            </button>
          </div>
          <div class="" id="modalContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
