<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/loginAndSignup.css" />
    <link rel="stylesheet" href="/css/forgotpassword.css" />

    <title>Forgot Password Email Page</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-in">
        <form
          action="/login/forgotPasswordOtp"
          method="post"
          onsubmit="return validateLogin()"
        >
          <h1>Forgot Password</h1>
          <br />
          <span id="logErrorMessage" class="text-danger"><%= message %></span>
          <br />
          <input type="email" placeholder="Email" id="email" name="email" />
          <br />

          <button type="submit">send otp</button>
        </form>
      </div>
    </div>

    <script src="/js/pages/login/forgotPasswordEmailPage.js"></script>
  </body>
</html>
