<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/loginAndSignup.css" />
    <link rel="stylesheet" href="/css/forgotpassword.css" />

    <title>Forgot Password</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-in">
        <form
          action="/login/forgotLogin"
          method="post"
          onsubmit="return validateForm()"
        >
          <h1>Forgot Password</h1>
          <br />
          <span id="logErrorMessage" class="text-danger"><%= message %></span>
          <br />
          <input
            type="password"
            placeholder="Create New Password"
            id="password"
            name="password"
          />
          <input
            type="password"
            placeholder="Confirm Password"
            id="confirm-password"
            name="confirmPassword"
          />
          <br />
          <button type="submit">confirm</button>
        </form>
      </div>
    </div>

    <script src="/js/pages/login/forgotPasswordPage.js"></script>
  </body>
</html>
